{% extends "header.twig" %}

{% block body %}
<body id="go">
{% block bodyNavigation %}{{ block("bodyNavigation", "nav.twig") }}{% endblock %}
<main>
    {% block content %}{% endblock %}
</main>
{% block footerContent %}{% import 'footer.twig' as macros  %}{{ macros.load_footer() }}{% endblock %}
{% block bodyJavaScript %}{% endblock %}
</body>
{% endblock %}